<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои задачи</title>
    <link rel="stylesheet" href="{% static 'tasks/task_list.css' %}">
</head>

<body>

<div class="container">

    <div class="header">

        <div>
            <h1>Мои задачи</h1>
            <p>Список всех твоих задач</p>
        </div>

        <div class="header-buttons">

            {% if user.is_authenticated %}

                <a href="{% url 'task-create' %}" class="create-button">
                    + Создать задачу
                </a>

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">
                        Выйти
                    </button>
                </form>

            {% else %}

                <a href="{% url 'login' %}" class="login-button">
                    Войти
                </a>

                <a href="{% url 'register' %}" class="register-button">
                    Регистрация
                </a>

            {% endif %}

        </div>

    </div>


    <div class="tasks">

        {% for task in tasks %}

            <div class="task-card">

                <div class="task-info">

                    <h2>{{ task.tittle }}</h2>

                    <p>
                        {{ task.description|truncatewords:20 }}
                    </p>

                    {% if task.completed %}
                        <span class="status completed">
                            Выполнено
                        </span>
                    {% else %}
                        <span class="status active">
                            В процессе
                        </span>
                    {% endif %}

                </div>

                <a href="{% url 'task-detail' task.pk %}" class="details-button">
                    Подробнее
                </a>

            </div>

        {% empty %}

            <div class="empty">
                <h2>Задач пока нет</h2>
                <p>Создай свою первую задачу.</p>

                {% if user.is_authenticated %}
                    <a href="{% url 'task-create' %}">
                        Создать задачу
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        Войти
                    </a>
                {% endif %}

            </div>

        {% endfor %}

    </div>

</div>

</body>
</html>